/* body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(255, 255, 255);
  color: rgb(26, 32, 44);
  margin: 2rem;
  line-height: 1.666;
}

a {
  color: #3182ce;
  text-decoration: none;
  transition: all 100ms ease 0s;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

div.frame-content > div > div:nth-child(2) {
  color: #3182ce;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.35;
}

h1 {
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2rem;
}

h2 {
  padding: 0;
  margin: 0 0 1.666rem 0;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.51572rem;
}

p {
  margin: 0 0 1.666rem 0;
}

img {
  display: block;
  width: 100%;
  max-width: 590px;
  margin: 0 auto 2rem auto;
  box-shadow: rgba(51, 51, 51, 0.15) 0px 0.8em 2em;
}

ul li,
ol li {
  padding-left: 0;
}

li {
  margin-bottom: calc(1.666rem / 2);
} */
