@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  font-family: 'Inter UI', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  margin: 2rem;
  line-height: 1.666;
}

a {
  color: rgb(162, 142, 98);
  text-decoration: none;
  border-bottom: 2px solid rgba(162, 142, 98, 0.4);
  transition: all 100ms ease 0s;
}

a:hover,
a:focus,
a:active {
  color: rgb(131, 115, 78);
  background-color: rgba(162, 142, 98, 0.15);
  text-decoration: none;
  border-bottom: 2px solid rgb(131, 115, 78);
}

div.frame-content > div > div:nth-child(2) {
  color: rgb(162, 142, 98);
  margin-bottom: 1.666rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.35;
}

h1 {
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2rem;
}

h2 {
  padding: 0;
  margin: 0 0 1.666rem 0;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.51572rem;
}

p {
  margin: 0 0 1.666rem 0;
}

img {
  max-width: 100%;
  margin: 0 0 2rem auto;
  box-shadow: rgba(51, 51, 51, 0.15) 0px 0.8em 2em;
}

ul li,
ol li {
  padding-left: 0;
}

li {
  margin-bottom: calc(1.666rem / 2);
}
