---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="404 Not Found">
  <h1 class="text-lg font-medium mb-2">404 Not Found</h1>
  <p class="my-8 leading-relaxed text-gray-600">
    The page you requested cannot be found. The URL may be misspelled or the page you're looking for
    is no longer available.
  </p>
  <a href="/" class="text-primary-500 hover:text-primary-600">&lsaquo; Back Home</a>
</BaseLayout>
